<!DOCTYPE html>
<html lang="en">
<>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script scr="https://code.jquery.com/jquery-3.6.3.js"></script>
    <link rel = "stylesheet" href ="web/css/maincss.css">
    <title>House Pricing Prediction</title>
</head>
<body>
<table>
    <tr>
        <label>Housing Price Prediction</label>
    </tr>
</table>

</body>
</html>